body {

  font-family: 'Libre Baskerville', serif; line-height: 4; ;
  margin: 50px;
  background-image:url('images/office_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: solid Transparent;
    border-width: thin;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
button:hover{
  border: 1px solid black;
}

div{
    line-height: 1.5;
}
h1{
  text-align: center;
  font-weight: 450;
  font-size: 2.5em;
  margin:20px;
}
h2 {
  margin-top: 60px;
  margin-left: 220px;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
}
ol{
  margin-top: 40px;
  margin-left: 210px;
  font-size: 1.2em;
  list-style-type: square;
}
.carousel-inner{
  margin: 0;
  padding: 0;
  max-width:1100px;
  max-height:480px;
  border:1px solid white;
}
.carousel-indicators{
  max-width:500px;
  max-height:500px;
  bottom: -50px;
}
.carousel-control {
  width:4%;
}
.carousel-control-next{
  max-width:500px;
  max-height:500px;
}
