body {

  font-family: 'Libre Baskerville', serif; line-height: 4; ;
  margin: 50px;
  background-image:url('plant3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;


}
div{
    line-height: 1.5;
}
}
h1, h2 {

text-align: center;

}
h1 {

font-size: 4em;

}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 2em;
}

.carousel-inner{
  size:10px;
  margin: 0;
  padding: 0;
  max-width:1000px;
  max-height:500px;
  border:1px solid white;
}
.carousel-indicators{
  max-width:500px;
  max-height:500px;
  bottom: -50px;
}
.carousel-control {
  width:4%;
}
.carousel-control-next{
  max-width:500px;
  max-height:500px;
}
