
body {
  font-family: arial;
  margin: 10px;
  background-image:url('image9.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
}

div {
min-height: 10vh;
width: 100vw;

}
h1, h2 {

text-align: center;

}
h1 {

font-size: 4em;

}
h2 {
  font-size: 1.5em;
}
img{
  border-radius: 10%;
  height: 150px;
  width: 200px;
}
.grid-container {
  display: grid;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  grid-template-columns: 300px 300px;
}

.grid-item {
  width: 200px;
  height: 150px;
}

p {
  width: 40%;
  margin: 0 0vw 0vh 0vw;
  font-size: 1em;
}
