
body {
  font-family: arial;
  margin: 10px;
  background-image:url('image9.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;

}

div {
min-height: 20vh;
width: 100vw;

}
h1, h2 {

text-align: center;

}
h1 {

font-size: 4em;

}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.5em;
}
img{
  border-radius: 35%;
  height: 150px;
  width: 200px;
  border:1px solid black;
  border-style: solid;
  border-radius: 100px 0px 100px 0px;
  border-width: medium;
}
.grid-container {
  margin: 90px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3,100px);
  height: 400px;
  width: 100px;
  grid-gap: 150px;
  grid-template-areas:
    "a b"
    "c d";
}

}
.grid-item1 {
  grid-area: a;
}
.grid-item2 {
  grid-area: b;
}
.grid-item3 {
  grid-area: c;
}
.grid-item4 {
  grid-area: d;
}
