
body {
  color: rgb(65,75,86);
  font-family: arial;
  margin: 20px;
  background-image:url('plant.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
  .container{
  	height:350px;
  	display:inline-block;
  }
  #carousel {
  	height:100%;
  }
  #carousel .carousel-inner{
  	height:100%;
  }
  #carousel .item{
  	background-repeat:no-repeat;
  	background-size:cover;
  	background-position:center center;
  	width:100%;
  	height:100%;
  }

div {
min-height: 10vh;
width: 150vw;

}
h1, h2 {

text-align: center;

}
h1 {

font-size: 4em;

}
h2 {
  font-size: 1.5em;
}

p {
  width: 40%;
  margin: 0 0vw 0vh 0vw;
  font-size: 1em;
}
